main h1{
    text-align: center;
}
#coop-summary{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    height: auto;
}
.summary{
    background-color: rgb(50,199,37);
    width: 20%;
    display: flex;
    flex-direction: column; 
    justify-content:space-around;
    text-align: center;
    padding: 0% 5%;
    color: white;
    border-radius: 15px; 
}
.summary-text{ 
    margin-top: 0px; 
    font-size: 1.3rem;
    height: 50%;
    
}
.summary-number{
    position: relative;
    font-size: 1.4rem;
    padding: 10% 0%;
}
.chart-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    width: 95%;
    margin: 2% auto;
    border-radius: 20px;
    box-shadow: -4px 0px 0px rgba(0, 87, 6, 0.94);
}
.graph-title{
    padding: 1%;
    margin-left: 4%;
}
.graph-hr{
    width: 90%;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(2, 84, 45);
    margin: 0 auto;
}
#egg-chart, #predator-chart, #movement-chart{
    width: 100%;
    height: 40vh;
}
#export{
    height:fit-content;
    background-color: rgb(243, 243, 243);
    width: 95%;
    margin: 2% auto;
    box-shadow: -4px 0px 0px rgba(0, 87, 6, 0.94);
    border-radius: 20px;
}
#export h2{
    padding: 1%;
    margin-left: 4%;
}
#export-buttons{
    display: flex;
    justify-content: space-around;
    height: 30%;
    padding: 15px;
}
 #export-buttons button{
        padding: 5px;
    }
.data{
    width: 40%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
}
#download{
    background-color: rgb(20, 174, 92);
}
#clear{
    background-color: rgb(236, 34, 31);
}

@media only screen and (min-width: 901px) {
    #coop-summary{
        display: flex;
        justify-content: space-around;
        flex-direction: row ;
    }
    .summary{
     width: 20%;

    }
    .summary-text{
        padding: 5% 0%;
    }
    .summary-number{
        padding: 10% 0%;
    }

}

@media only screen and (max-width: 1100px) {
    #coop-summary{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction:row ;
        row-gap: 30px;
    }
    .summary{
     width: 40%;

    }
    .summary-text{
        padding: 3% 0%;
    }
    .summary-number{
        padding: 4% 0%;
    }

}

@media only screen and (max-width: 600px) {
    #coop-summary{
        display: flex;
        flex-direction: column ;
        align-items: center;
        gap: 10px;
    }
    .summary{   
    width: 90%;
    }
    .summary-text{
        padding: 1% 0%;
    }
    .summary-number{
        padding: 2% 0%;
    }
    #export-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    
    height: auto;}
    
    #export-buttons button{
        margin: 0px auto;
        width: 80%;
    }
}

